body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
  }

  #successpage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Optional background color */
    z-index: 1;
    background-image: url(./success.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }